.profil-title {
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
}

.profile-child {
  color: white;
}

.about-us {
  text-align: center;
  color: white;
  font-size: 20px;
}

.judul {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.gambar-profile {
  width: 10px;
  height: 10px;
}
